.container{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    width:40px;
    height: 40px;
    margin: 0 auto;
    justify-content: center;
    max-width: 960px ;
    max-height: auto;
    width:960px;
    height:900px;
   background-color: white;
   border: 10px solid black;
}
.container > div{
    border: 1px solid black;
    padding: 10px;
    overflow: hidden;
     margin:0;
}

.header{
    display: flex;
    justify-content:space-between;
}
.flexbox2{
    
}
body {
    background: linear-gradient(-50deg, #e22f2f, #6e19dd, #0fe762, #cbf70a);
    background-size: 400% 400%;
    animation: backgroundMoving 15s ease infinite;
}
@keyframes backgroundMoving {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 0%;
    }}