.container{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    width:40px;
    height: 40px;
    margin: 0 auto;
    justify-content: center;
    max-width: 960px ;
    max-height: auto;
    width:960px;
    height:900px;
   background-color: white;
   border: 5px solid black;
}
.container > div{
    border: 1px solid gray;
    padding: 1px;
    overflow: hidden;
     margin:0;
}

.header{
    display: flex;
    justify-content: center;
    gap:42vh;
    margin-bottom: 4px;
    color:white;
    font-weight: bold;
}

body {
    background: linear-gradient(-50deg, #8b2fe2, #b94680, #9136b6, #cc2293);
    background-size: 400% 400%;
    animation: backgroundMoving 15s ease infinite;
}
@keyframes backgroundMoving {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 0%;
    }}
    button{
      background-color: black;
      color:white;
      border:2px solid white;
    }